.gsiButton {
  -webkit-appearance: none;
  background-color: #131314;
  border: 1px solid #747775;
  border-radius: 20px;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  text-align: center;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 360px;
  border-color: #8e918f;
  user-select: none;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.buttonText {
  flex-grow: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  line-height: 40px;
}

.buttonState {
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsiButton:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsiButton:disabled .buttonState {
  background-color: #e3e3e31f;
}

.gsiButton:disabled .buttonText,
.gsiButton:disabled .icon {
  opacity: 38%;
}

.gsiButton:not(:disabled):active .buttonState,
.gsiButton:not(:disabled):focus .buttonState {
  background-color: white;
  opacity: 12%;
}

.gsiButton:not(:disabled):hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsiButton:not(:disabled):hover .buttonState {
  background-color: white;
  opacity: 8%;
}
